*{
    padding-top: 0px;
    margin: 0px;
}


.header--primario {
    background-color:#011C33;
    height: 104px;}

.header--primario--nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
} 

.head--nav--item{
    color: #FFF;
    font-family: Julee;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;}

.head--nav--retangulo{
    background-color: #D9D9D9CC;
    width: 20px;
    height:20px;
    transform: rotate(-45deg);
    
    }  
    
.header--primario a:hover{
        background: rgb(75, 56, 56);
}

.container--main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}



.main--image{
    width: 100%;
     }

.main--image--logo{
    width: 70%;    
    position: absolute;
    margin: 35%;
    }

    
.container--sobre{                  
    background-color: #010103;
    width: 100%;  
    margin-top: -4px;
    padding-top: 15px;
    
    
    
}
   
.container--sobre--titulo{
    color: #CDBAA5;
    font-family: Julee;
    font-size: 15px;
    font-style: normal;
    line-height: normal;   
    height: 42px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;      
     
    
}
.conteiner--sobre--retangulo {
    background-color: #744008;
    width: 20px;
    height:20px;
    transform: rotate(-45deg);
    align-items: center;
}
    

.container--geral{
    display: flex;

}
        
.container--sobre--image{  
    width: 50%;
    height: 50%;
    

}    


.container--sobre--descricao{
    color: #FFF;
    font-family: Kurale;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-content: center;
    padding-right: 15px;   
    min-width: 600px;
    max-width: 1000px;
    
}
h2{
    padding-left: 10px;
    padding-right: 10px;
}
.head--nav--linha{
    width: 20%;
    height: 0px;
    border: 1px solid #744008;
    margin-top: 10px;
    
}
    /* section geral de personagens */
.container--personagens{
    background-color: #010103;
    width: 100%;
    height: 800px;
    }
/* container personagens */
.container--personagem-titulo {
    color: #CDBAA5;
    font-family: Julee;
    font-size: 20px;
    font-style: normal;
    line-height: normal;   
    height: 42px;
    display: flex;
    justify-content: center;
    }  
.container--geral--personagens{    
    display: flex;
    position: absolute;
    align-items: center;
}    

.container--personagens--images{        
    position: relative;
}    
    .container--personagens--1{
        position: relative;
        left: 215px;
        max-width: 500px;
        opacity: 50%;
        transition: transform 0.5s; 
        cursor: pointer;
    }
        .container--personagens--1:hover{
            transform: scale(1.3);
            opacity: 100%;
        }
        

        .descricao--1{    
           display: flex;    
           align-items: center;
           gap: 10px;
           padding-left: 400px;
           margin-top: -100px;
           height: 500px;     
           
        }
        .img--personagem {
            width: 70%;
            height: 70%;
            
        }

    .container--personagens--2{
        position: absolute;
        left: 65px;
        top: 72px;
        opacity: 50%;
        transition: transform 0.5s;
        cursor: pointer;
    }
        .container--personagens--2:hover{
            transform: scale(1.3);
            opacity: 100%;
        }

        .descricao--2{    
            display: flex;     
            align-items: center;
            gap: 10px;
            padding-left: 400px;
            margin-top: -100px;
            height: 500px;                
         }

    .container--personagens--3{
        position: absolute;
        left: 215px;
        top: 196px;
        opacity: 50%;
        transition: transform 0.5s;
        cursor: pointer;
    }
        .container--personagens--3:hover{
            transform: scale(1.3);
            opacity: 100%;
        }
        .descricao--3{    
            display: flex;     
            align-items: center;
            gap: 10px;
            padding-left: 400px;
            margin-top: -100px;
            height: 500px;                
        }

    .container--personagens--4{
        position: absolute;
        left: 65px;
        top: 288px;
        opacity: 50%;
        transition: transform 0.5s;
        cursor: pointer;
    }   
        .container--personagens--4:hover{
            transform: scale(1.3);
            opacity: 100%;}


        .descricao--4{    
            display: flex;     
            align-items: center;
            gap: 10px;
            padding-left: 400px;
            margin-top: -100px;
            height: 500px;                
        }
    .container--personagens--5{
        position: absolute;
        left: 215px;
        top: 392px;
        opacity: 50%;
        transition: transform 0.5s;
        cursor: pointer;}

        .container--personagens--5:hover{
            transform: scale(1.3);
            opacity: 100%;}

        .descricao--5{    
            display: flex;     
            align-items: center;
            gap: 10px;
            padding-left: 400px;
            margin-top: -100px;
            height: 500px;                
         }


   
   

/* container geral linhas  */
.containerLinhas{   
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    flex-wrap: nowrap;   
    margin-top: 500px;
      
}   
/* container retangulo */
    .conteiner--sobre--retangulovertical{
        background-color: #744008;
        width: 20px;
        height:20px;
        transform: rotate(-45deg);
        }
/* container linha */
    .head--nav--linhavertical{    
        width: 0px;  
        height: 50%;      
        border: 1px solid #744008;
        
       }

/* container descrição personagem */
.container--personagem--descricao{
    color: #FFF;
    font-family: 'Kurale';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    min-width: 500px;
    max-width: 1000px;
    
    }

.container-casas-image{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px 50px;
    
}

.container{
    position: relative;
    padding-top: 20px;
    height: 310px;
    width: 200px;    
    border: solid 1px #0d0d0d;   
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
    }
    .container:hover{
        height: 600px};

.container-mensagem{
    position: absolute;
    
}    
    
.container .mensagem {
        position: absolute;
        top: 260px;      
        height: 35px;
       
        }

.container .mensagem:hover{
    height: 250px;
}

.container .mensagem h2 {
    font-family:'Kurale';
    font-size: 40px;
}

.container .mensagem p {
    font-family:'Kurale';
    color: aliceblue;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #9bf013;
  }