*{
    padding-top: 0px;
    margin: 0px;
}

.header--primario {
    background-color:#011C33;
    height: 104px;}

.header--primario--nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
} 

.head--nav--item{
    color: #FFF;
    font-family: Julee;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;}

.head--nav--retangulo{
    background-color: #D9D9D9CC;
    width: 20px;
    height:20px;
    transform: rotate(-45deg);
    
    }  
    
.header--primario a:hover{
        background: rgb(75, 56, 56);
}

.container--main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main--image{
    width: 100%;
     }

.main--image--logo{
    width: 70%;    
    position: absolute;
    margin: 35%;
    }

.container--sobre{
    background-color: #010103;
    width: 100%;  
    margin-top: -4px;
    padding-top: 15px;
    
    
}
    
.container--sobre--titulo{
    color: #CDBAA5;
    font-family: Julee;
    font-size: 15px;
    font-style: normal;
    line-height: normal;   
    height: 42px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;      
     
    
}
.conteiner--sobre--retangulo {
    background-color: #744008;
    width: 20px;
    height:20px;
    transform: rotate(-45deg);}

.container--geral{
    display: flex;

}
        
.container--sobre--image{  
    width: 50%;
    height: 50%;
    

}    


.container--sobre--descricao{
    color: #FFF;
    font-family: Kurale;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-content: center;
    padding-right: 15px;   
    
}
h2{
    padding-left: 10px;
    padding-right: 10px;
}
.head--nav--linha{
    width: 20%;
    height: 0px;
    border: 1px solid #744008;
    margin-top: 10px;
    
}
    
