*{
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  background-size: cover;
  color: rgb(247, 246, 246);
}

.vira__tempo{
  margin-top: 5%;
  margin-left: 500px;
}

.img__filme {
    transition: opacity 0.3s ease-in-out;/* Adiciona transição suave */
    width: 200px;
    height: 250px;
    margin: 50px 10px 0;
    border-radius: 1rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;/* Adiciona transições suaves */
    border: 2px solid transparent /* Define uma borda transparente inicial */
}

.img__filme:hover {
    transform: scale(1.2);/*Aumenta o tamanho da imagem quando o mouse passa por cima*/
    opacity: 0.9;/*Altera a opacidade quando o mouse passa por cima*/
    border-color: #968423; /* Adiciona uma borda quando o mouse passa por cima */
}

.header--nav--img {
  width: 50px;
}



.filmes-container {
    overflow: hidden; /* Esconde o conteúdo que ultrapassa */
    width: 100%; /* Largura máxima para o contêiner */
    position: relative;
  }
  
  .filmes {
    display: flex; /* Usa flexbox para posicionar as imagens */
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
    /*max-width: 10000px;  Largura máxima do carrossel */
  }

  .prev, .next {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-color: #fcfcfc;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 1rem;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .filmes__item {
    text-align: center;
  
  }

  .filmes__item p {
    margin-top: 5px;
    font-size: 14px;
  }

  .img__revelio{
    margin-left: 500px;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .img__bastidor {
    border-radius: 30px;
    width: 700px;
  }

  .txt__bastidor {
    text-align: left;
  }