* {
    padding-top: 0px;
    margin: 0px;
}

.header--primario {
    background-color: #011C33;
    height: 104px;
}

.header--primario--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.head--nav--item {
    color: #FFF;
    font-family: Julee;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.head--nav--retangulo {
    background-color: #D9D9D9CC;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);

}

.header--primario a:hover {
    background: rgb(75, 56, 56);
}

.main-body {
    background-color: #E8D8B6;
    flex-shrink: 0;
    text-align: center;
}

.titulo-principal1 {
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    font-family: Luxurious Script;
    text-align: center;
    padding-top: 85px;
}

.titulo-principal2 {
    height: 40px;
    flex-shrink: 0;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Judson;
    padding-top: 6px;
    word-spacing: 100px;
    position: relative;
    left: 35px;
}

.titulo-principal2-1 {
    height: 40px;
    flex-shrink: 0;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Judson;
    padding-top: 6px;
    word-spacing: 80px;
    position: relative;
    right: 70px;
}


.titulo-principal3 {
    color: #000;
    font-family: Lavishly Yours;
    font-size: 68px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    padding-left: 50px;
    position: relative;
    top: -50px;
}

.titulo-principal4 {
    color: #000;
    font-family: Lavishly Yours;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    position: relative;
    top: -57px;
}

.image-mapa1 {
    width: 656px;
    height: 641px;
    flex-shrink: 0;
    margin-top: 10px;
}

.botao1 {
    width: 763px;
    height: 66px;
    background-color: #E8D8B6;
    border: none;
    margin-top: 77px;
    margin-bottom: 77px;
}

.titulo--reinounido {
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-family: Lavishly Yours;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    position: relative;
    top: -180px;
    left: -430px;
}

.botao1 {
    cursor: pointer;
}

.button--ponto {
    border-radius: 50%;
    width: 160px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255, 0.4);
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: Junge;
    position: relative;
    top: -5px
}

.images--ponto {
    border-radius: 10%;
    width: 600px;
    height: auto;
    text-align: center;

}

.texto--ponto-titulo {
    font-family: Junge;
    font-size: 23px;
    font-weight: bold;
}

.texto--ponto-box {
    font-family: Junge;
    font-size: 18px;
    border: 1px inset;
    padding: 20px;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.footer {
    width: 100%;
    height: 30px;
    flex-shrink: 0;
    background-color: #011C33;
    color: #FFF;
    font-family: Junge;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.pegadas1 {
    transition: transform 2s ease;
    position: fixed;
    top: 42%;
    transform: translateY(-50%);
    left: 0;
}

.pegadas1:hover {
    transform: translate(25%);
}

.pegadas2 {
    transition: transform 2s ease;
    position: fixed;
    top: 42%;
    transform: translateY(-50%);
    right: 0;
}

.pegadas2:hover {
    transform: translate(25%);
}

body {
    overflow-x: hidden;
}

.pegadas3 {
    transition: transform 2s ease;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    right: 0;
}

.pegadas3:hover {
    transform: translate(-25%);
}

.pegadas4 {
    transition: transform 2s ease;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: 0%;
    right: 80%;
}

.pegadas4:hover {
    transform: translate(-10%);
}

.esconder {
    display: none
}